# {{ ansible_managed }}
# DB_*, DEBUG и ALLOWED_HOSTS пишет модуль django_configurator в hc/local_settings.py.
# Здесь только то, что settings.py должен получить из окружения ДО подключения
# local_settings.py: из SITE_ROOT при импорте вычисляются PING_ENDPOINT и STATIC_URL.
SECRET_KEY={{ app_params.django_secret_key }}
SITE_ROOT=http://{{ app_params.alb_dns_name }}
